<div class="container">
    <div class="row">
        <div class="col-12">
            <section id="sponsorimg">
                <!-- insert images here, they will show up as a responsive grid -->
            </section>
        </div>
    </div>
    
    <div class="row">
        <div class="col-12">
            <section id="sponsorimg">
                <!-- insert images here, they will show up as a responsive grid -->
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <section id="sponsorimg">
                <!-- insert images here, they will show up as a responsive grid -->
            </section>
        </div>
    </div>
</div>